<!DOCTYPE html>
<html>
<head>
<title>Galants Yury</title>
<style>
    body { background: url(static/background_1.jpeg); }
    .round {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid white; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
   }
   p {
    color: white; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
   }
   P.fig {
    text-align: center; /* Выравнивание по центру */
   }
</style>
</head>
 <body>
    <p align="center">
        <font size="10" face="Arial">
            Galants Yury
        </font>
    </p>
    
    <p class="fig"> <img src="static/my_photo.jpg" width="256" height="344" alt="Author's photo" class="round"></p>
   
    <p align="center">
        <font size="8" face="Arial">
            ITMO Student/Signature analyst
        </font>
    </p>
    <p align="center">
        <font size="5" face="Arial">
            Hello! I am a signature analyst. My job is to look for new threats, analise them and deside:
            write or not to write IDS/IPS rules. Experianced with Linux, Wireshark, sqlmap and other tools.
        </font>
    </p>
 </body>
</html>